<mat-toolbar>
  <img mat-card-image src="./assets/logotyp.png" alt="logotyp" class="img-logo">
  <span>Order FOOD </span>
  <mat-icon color="warn">favorite</mat-icon>
  <button class="btn-menu" mat-flat-button>Kucharze</button>
  <button class="btn-menu" mat-flat-button>Historia zamówienia</button>
  <span class="spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon matBadge="!" matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
</mat-toolbar>
