mat-toolbar {
  -webkit-box-shadow: 0px 9px 13px -7px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 9px 13px -7px rgba(66, 68, 90, 1);
  box-shadow: 0px 9px 13px -7px rgba(66, 68, 90, 1);
}

.spacer {
  flex: 1 1 auto;
}

.img-logo {
  height: auto;
  max-height: 64px;
  max-width: 250px;
  margin-right: 15px;
  cursor: pointer;
}

.btn-menu {
  margin-right: 10px;
  margin-left: 10px;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  padding: 0;
}

.active-link {
  background-color: #f44336;
  color: #ffffff !important;
}
