.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

mat-card {
  display: flex;
  width: 500px;
  justify-content: center;
  align-items: center;
}

mat-card-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.img-logo {
  height: auto;
  max-width: 250px;
}

mat-form-field {
  width: 80%;
}

.btn-login {
  width: 30%;
  margin-top: 10px;
  margin-bottom: 20px;
}
